@model ModelValidation.Models.Appointment
@{
	ViewBag.Title = "Make a booking";
}

<h4>Boook an Appointment</h4>
@using (Html.BeginForm())
{
	<p>Your name: @Html.EditorFor(m => m.ClientName)</p>
	<p>Appointment Date: @Html.EditorFor(m => m.Date)</p>
	<p>@Html.EditorFor(m => m.TermsAccepted) I accept the terms & conditions</p>
	<input type="submit" value="Make Booking" />
}