@using HelperMethods.Models
@model string
@{ 
	ViewBag.Title = "GetPeople";
}

<h2>Get People</h2>
<table>
	<thead>
		<tr>
			<th>First</th>
			<th>Last</th>
			<th>Role</th>
		</tr>
	</thead>
	<tbody>
		@Html.Action("GetPeopleData", new { selectedRole = Model });
	</tbody>

	@using (Html.BeginForm())
	{
		<div>
			@Html.DropDownList("selectedRole", new SelectList(new[] { "All" }.Concat(Enum.GetNames(typeof(Role)))))
			<button type="submit">Submit</button>
		</div>
	}
</table>