@model string
@using HelperMethods.Infrastructure
@{
	Layout = null;
}

@helper Inline_ListArrayItems(string[] items)
{
	foreach (var str in items)
	{
		<ul>
			<li>@str</li>
		</ul>
	}
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	<div>
		Here are the fruits:
		@Html.ListArrayItems((string[])ViewBag.Fruits)

		<br />
		Here are the cities:
		@Html.ListArrayItems((string[])ViewBag.Cities)
	</div>
	<div>
		Here is the message:
		<p>@Model</p>
	</div>
</body>
</html>
